@model IEnumerable<Account>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color: #F9F9F9">
    <!-- going to use username user data -->
    <div class="greeting col-md-12 col-sm-6 col-xs-12 py-2">
        <h1>Welcome User</h1>
    </div>
    <div class="dashboard-container">
        <!-- widget box for navigation of major features -->
        <div class="widget-box">
            <!-- using unordered list in case time is found to make widget bar dynamic and customisable-->
            <ul class="items-container">
                <li role="button">
                    <div class="item-contain">
                        <span class="widget-icon">
                            <i class="fa-solid fa-bolt fa-xl"></i>
                        </span>

                        <p>Quick Pay</p>
                    </div>
                </li>

                <li role="button">
                    <div class="item-contain">
                        <span class="widget-icon">
                            <i class="fa-solid fa-hands-holding fa-xl"></i>
                        </span>

                        <p>Offers for you</p>
                    </div>
                </li>

                <li role="button">
                    <div class="item-contain">
                        <span class="widget-icon">
                            <i class="fa-solid fa-exchange fa-xl"></i>
                        </span>

                        <p>Quick Transfer</p>
                    </div>
                </li>

                <li role="button">
                    <div class="item-contain">
                        <span class="widget-icon">
                            <i class="fa-solid fa-add fa-xl"></i>
                        </span>

                        <p>Add More</p>
                    </div>
                </li>
            </ul>
        </div>

        <!-- to access documentation -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <a role="link" class="float-end" style="margin-right:10px; text-decoration:none">
                        <div class="row" style="height:80px">
                            <span style="font-size:2em" class="col-1 widget-icon">
                                <i class="fa-solid fa-file "></i>
                            </span>
                            <div class="col-11">
                                <p>Statments and Documents Here</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- accounts container, will contain accounts details, and then later possibly rewards, insurance, investments etc-->
        <div class="accounts">
            <div class="account-widget Bank">
                <!-- Everyday Banking Heading -->
                <div style="background-color:#FFFFFF; class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="row align-items-center">
                                <div class="col-sm-4 d-flex align-items-center" style="display: flex; gap:10px;">
                                        <i class="fa-solid fa-wallet"></i>                                                           
                                    <div>
                                        <h5>Everyday Banking</h5>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <h5>Current Balance</h5>
                                </div>

                                <div class="col-sm-4">
                                    <h5>Available Balance</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 visible-lg">
                            &nbsp;
                        </div>
                    </div>
                </div>

                <!-- List of accounts -->
                <div style="background-color:#FFFFFF; class="container-fluid">
                    @foreach (Account account in Model)
                    {
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <a asp-action="List" asp-controller="Transaction" asp-route-id=@account.AccountNumber style="text-decoration:none">
                                            <p class="my-o">@account.AccountName</p>
                                            <p style="color:#A7A8AA; font-size:0.8em; margin-top:-20px;">@account.AccountNumber</p>
                                        </a>
                                        
                                    </div>

                                    <div class="col-sm-4">
                                        @String.Format("{0:C}", account.Balance)
                                    </div>

                                    <div class="col-sm-4">
                                         @String.Format("{0:C}", account.Balance)
                                    </div>
                                </div>
                            </div>

                            <!-- Account Transaction Options -->
                            <div class="col-lg-3 visible-lg" style="display:flex; gap:20px">
                                <div class="item-contain">
                                    <span class="widget-icon">
                                        <i class="fa-solid fa-credit-card fa-s"></i>
                                    </span>

                                    <p>Pay</p>
                                </div>

                                <a asp-controller="Accounts" asp-action="Transfer" asp-route-id="@account.AccountNumber" class="item-contain" style="text-decoration: none; cursor: pointer;">
                                    <div class="item-contain">
                                        <span class="widget-icon">
                                            <i class="fa-solid fa-exchange fa-s"></i>
                                        </span>

                                        <p>Transfer</p>
                                    </div>
                                </a>

                                <div class="item-contain">
                                    <span class="widget-icon">
                                        <i class="fa-solid fa-shopping-cart fa-s"></i>
                                    </span>

                                    <p>Buy</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
